[submodule "btdef"]
	path = btdef
	url = https://github.com/ikonopistsev/btdef.git
[submodule "btpro"]
	path = btpro
	url = https://github.com/ikonopistsev/btpro.git
[submodule "e4pp"]
	path = e4pp
	url = https://github.com/ikonopistsev/e4pp.git
[submodule "libmdbx"]
	path = libmdbx
	url = https://github.com/erthink/libmdbx.git
